html{
    font-size: 10px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    margin-left: 8rem;
    margin-right: 8rem;
}
.right{
    width: 50%;
}
.right h1{
    color: white;
    font-weight: 900;
}
.animated-word{
    color: red;
}

img{
    border-radius: 50%;
    width: 36rem;
    margin-right: 5rem;
    margin-left: 7rem;
}
.resume{
    width: 21rem;
    height: auto;
    border-radius: 2rem;
    font-weight: 900;
    font-size: 2.3rem;
    margin-top: 5rem;
    text-align:center;
}
.animated{
    margin-top: 5rem;
    font-size: 5rem;
}

@media screen and (max-width:900px){
    html{
    font-size: 9px;
}
    .main{
        flex-direction: column;
    }
    .left{
        margin: auto;
        margin-top: 6rem;
    }
    img{
        margin-left: 7rem;
    }
    .right{
        width: 100%;
        margin-top: 5rem;
        margin-left: 12rem;
    }
   
}
@media screen and (max-width:600px){
    html{
        font-size: 8px;
    }
    .main{
        flex-direction: column;
    }
    .left{
        margin: auto;
        margin-top: 10rem;
    }
    img{
        margin:auto;
        width: 30rem;
    }
    .animated-word,.animated{
        
        font-size: 4rem;
    }
    .right{
        width: 100%;
        margin-top: 10rem;
        margin-left: 12rem;
    }
    
}

