#projects{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.projects-header{
    color: #FC6E6E;
    font-weight: 800;
    font-family: 'Rubik Moonrocks', cursive;
}
.slider-image{
    height: 300px; 
}
.carousel-control-prev,.carousel-control-next-icon,.carousel-control-prev-icon{
    color: #FC6E6E;
}